<% layout("/layouts/boilerplate") %>
<br>
<div class="row" >
    <div class="col-8 offset-3">
    <h3>Listing Details : </h3>
     </div>
    <div class="card col-6 offset-3 show-card">
        <img src=<%= listingData.image.url %> class="card-img-top show-img" alt="...">
        <div class="card-body">
            <p class="card-text">
                <b><%= listingData.title %></b><br>
                <%= listingData.description %> <br>
                &#8377;<%= listingData.price.toLocaleString("en-IN") %> <br>
                <%= listingData.location %> <br>
                <%= listingData.country %> <br>
            </p>
        </div>
    </div>
    <br>
 </div>

 <div class="btns mb-3">
    <a href="/listings/<%= listingData.id %>/edit" class="btn btn-dark col-1 offset-3 edt-btn">Edit</a>
    <form action="/listings/<%= listingData.id %>?_method=delete" method="post">
        <button class="btn btn-dark offset-4">Delete</button>
    </form>
 </div>

